*{margin:0;padding:0;font-family: "Open Sans", sans-serif;box-sizing: border-box;}


body{min-height:100vh;display: flex;align-items: center;background-color:#f7f7;justify-content:center;}



.about-section{background:url(image.jpg);background-repeat:no-repeat;background-position:left;
	background-size:55%;
background-color:#f7f7;overflow: hidden;padding:100px 0;}

.inner-container{max-width:55%;height:40%;color:#ddd;float: right;background-color:#123;padding:150px;
border-radius:4px;}


.inner-container h1{margin-bottom:30px;font-size:30px;font-weight:900;}

.inner-container p{color:#ddd;}

.text{font-size:13px;color:#545454;line-height:30px;text-align:justify;margin-bottom: 40px;}

.skills{display: flex;justify-content: space-between;font-weight: 700;font-size:13px;}


@media screen and (max-width:1200px){
	.inner-container{
		padding:80px;
	}
}

@media screen and (max-width:1000px){
	.about-section{
		background-size:100%;
		padding:100px 40px;
	}

	.inner-container{width:100%;}
}


@media screen and (max-width:1200px){
	.about-section{padding:0;}

	.inner-container{padding:60px;}

}