 /*=============== */
/* BASIC SETUP */
/* =============== */
*{margin:0;padding:0;box-sizing: border-box;}

body {font-family: 'Titillium Web', sans-serif;}

html{font-size:62.5%;scroll-behavior:smooth;}

ul li{list-style: none;}

.clearfix::after{content:"";height:0;width:0;clear:both;display:table;visibility:hidden;}

/* BUTTON */

.btn:link,
.btn:visited,
.btn{background: #333;border-bottom:.3rem solid #000;color:#fff;text-decoration:none;text-transform:uppercase;
   padding:1.5rem 6rem;border-radius:0.3rem;display: inline-block;margin-top: 1rem;}

/* Main Navigation */

.main-nav {float: right;position: fixed;background: #111;padding: 20px;width: 100%;}

.main-nav li {display: inline-block;margin-left:1rem;}
.main-nav li:first-child{margin-left: 0;background:#643a79;border-radius:.5rem;}

.main-nav li a:link,
.main-nav li a:visited{color:#fff;text-decoration: none;text-transform:uppercase;padding:.4rem 1.6rem;display: inline-block;
   font-size:1.6rem;transition:.5s}

.main-nav li:hover a:link,
.main-nav li:hover a:visited{background:#643a79;border-radius:.4rem;}

/*.main-nav li.active a {background:#643a79;border-radius:.5rem;}*/
.hero-text-box{position: absolute;top:50%;left:50%;transform: translate(-50%,-50%);text-align: center;}
.btn-hero:link,
.btn-hero:visited{background:#eb7d4b;border-color:#c86a40;}
/*STICKY MAVIGATION */

.sticky{position:fixed;top:0;left:0;width:100%;background:#643a79;padding:1rem 0;
         box-shadow:0 .2rem .5rem rgba(255,255,255, .9);z-index:9999;}
.sticky .logo{margin-top:0;}
.sticky .main-nav{margin-top: .5rem;}

/*Mobile Menu*/
.mobile_menu span{color:#fff;font-size:4rem;float:right;margin-top:3.6rem;display:none;}

.mobile_menu span:hover{cursor:pointer;}

.overlay{width:0;height:100%;position:fixed;top:0;left:0;
   background:rgba(0,0,0,0.9);z-index:1;overflow-x:hidden;transition:.5s;}

.overlay_content{position:relative;top:10%;width:100%;text-align:center;}

.overlay a{text-decoration:none;display:block;font-size:3rem;text-transform:uppercase;letter-spacing:3px;color:#999;
   padding:1rem 0;}

.overlay a:hover{color:#fff;}


.closebtn{position:absolute;top:2.5rem;right:4.5rem;font-size:6rem;}

.sticky .mobile_menu span{margin-top:1.7rem;line-height:1rem;}

/* =============== */
/* End Header SECTION */
/* =============== */
.service{background:#9c27b0;height:100vh}

.work{background:#48dbfb;height:100vh;}
.about{background:red;height:100vh;}
.contact{background:green;height:100vh;}

.testimonial{background:blue;height:100vh;}
.award{background:orange;height:100vh;}
/*start Go top button design*/

.button_Go_up{position:relative;}

i.fa.fa-arrow-up {
    font-size: 40px;
    background: #48fbfb;
    padding: 20px;
    margin: 12px;
    position: absolute;
    right: 0;
    border: 0;
}

/*.go_top_btn{position:fixed;width:50px;height:30px;background:#27ae60;bottom:40px;right:50px;text-decoration:none;text-align:center;
line-height:50px;color:white;font-size:24px;}*/

/*Start Responsive Design*/


@media (max-width:1200px){

   .mobile_menu span{display:block;position: fixed;}

   .main-nav{display:none;}

}