*{margin:0;padding:0;}

body{background:#48dbfb;font-family:cursive;}

ul{list-style:none;}

a{text-decoration:none;}

.team_section{width:60%;margin:auto;}

.team_section h2{text-align:center;padding:15px;}

.team_section p{text-align:center;margin-bottom:20px;}

.team{max-width:1200px;width:100%;margin:auto;justify-content:center;align-items:center;display:flex;flex-wrap:wrap;}

.member_details{flex:33.33%;max-width: 368px;height: 457px;box-sizing:border-box;margin:20px;background:#fff;padding:30px;margin:5px;border-radius:23px;}

.member_details img{width: 69%;height:auto;border-radius:50%;display:block;margin:auto;}


.member_details h3 {width:50%;overflow:hidden;text-align:center;padding:5px 0px;display:block;margin:auto;}

.member_details span{display:block;text-align: center;width:50%;display:block;margin:auto;color:#ff04d5;}

.sm{text-align:center;}

.sm a{background-color: #ddd;margin:10px;padding: 8px 10px;border-radius: 30px;line-height: 60px;}

.sm a:hover{margin-bottom:-10px;}

i.fa.fa-facebook {
    font-size: 22px;
}

.owl-stage{display:flex !important;}

.owl-nav {display: inline-block;}

.news_slider .owl-carousel2 .owl-dots {text-align:center;margin:20px auto;display:block;}

.owl-dots button {outline:none !important;}

.owl-dots span {position:relative;height:16px;width:16px;border-radius:50%;display:block;background:red;margin:0 5px;}

.active {box-shadow:none;}

.active span {box-shadow:none;margin-bottom:-1px;}

.owl-item {margin-bottom: 20px;}

.owl-nav {display:block !important;position:absolute;top:25%;width:100%;}


.owl-prev,
.owl-next {font-size:50px !important;color:#666666;position:absolute;outline:none;
  background:red !important;border-radius:50%;height:68px;width:68px;}



.owl-prev {left: -100px;}

.owl-next {right: -100px;}

.owl-carousel .owl-nav button.owl-next, .owl-carousel .owl-nav button.owl-prev, .owl-carousel button.owl-dot {
    background: #ddd;
    color: #0a0303;
    border: none;
    padding: 6px;
    font-size: 23px;
    text-align: center;
    line-height: 38px;
    margin: auto;}

.owl-carousel .owl-nav button.owl-next, .owl-carousel .owl-nav button.owl-prev, .owl-carousel button.owl-dot:active{color:#47dbfb;}


element.style {
    width: 38px;
}

/*Responsive Design */
@media (max-width: 767px) {


  .news_slider .owl-carousel2 .owl-prev,
  .news_slider .owl-carousel2 .owl-next {display: none !important;}
  .news_slider .row {padding: 0;}
}



@media (max-width:800px){
	.member_details{flex:100%;}
}