
*{margin:0;padding:0;}

body {font-family:"Larsseit";color:#aeafb9;}

.container{padding-bottom:30px;}

.slide {padding: 100px 0;}

h2::before, h2::after, .fh5co-about-us .owl-carousel1 .owl-dots .active span, .read-more, .news_slider .owl-carousel2 .owl-dots .active span, .form-box h4::after, .form-box button {
  background-image: -moz-linear-gradient(0deg, #1270e4 0%, #58c0ff 100%);
  background-image: -webkit-linear-gradient(0deg, #1270e4 0%, #58c0ff 100%);%); */
  background-image: -ms-linear-gradient(0deg, #1270e4 0%, #58c0ff 100%);
}

h2::before {position:absolute;/* content:""; *//* width:118px; *//* height:2px; *//* margin-top:18px; *//* margin-left:-140px; */}

h2::after {/* position:absolute; *//* content:""; *//* height:10px; *//* width:10px; *//* margin-top:20px; *//* margin-left:10px; */}

.news_slider {background:#48dbfb;padding-top:50px;padding-bottom:0;}

.news_slider .row {padding: 0 80px;}

.news_slider h2 {text-align:center;margin-bottom:50px;}

.news_slider h5 {font-family:"Larsseit-Medium";color:#1e1f29;font-size:21px;}

.news_slider p {font-size:16px;line-height:1.4;margin-top:20px;}

.card {box-shadow: 0px 8px 29px 0px rgba(23, 23, 23, 0.03);background:#fff;}

.card-body {padding: 30px 40px !important;}

.owl-nav {display: none;}

.news_slider .owl-carousel2 .owl-dots {text-align:center;margin:20px auto;display:block;}

.owl-dots button {outline:none !important;}

.owl-dots span {position:relative;height:16px;width:16px;border-radius:50%;display:block;background:#ebebeb;margin:0 5px;}

.active {box-shadow:none;}

.active span {box-shadow:none;margin-bottom:-1px;}

.owl-item {margin-bottom: 20px;}

.owl-nav {display:block !important;position:absolute;top:25%;width:100%;}

.card-body  h5{width:50%;overflow:hidden;text-align:center;padding:5px 0px;display:block;margin:auto;}

.card-body span{display:block;text-align: center;width:50%;display:block;margin:auto;color:#ff04d5;}

.sm{text-align:center;}

.sm a{background-color: #ddd;margin:10px;padding: 8px 10px;border-radius: 30px;line-height: 60px;}

.sm a:hover{margin-bottom:-10px;background:#48dbfb;transform:rotate(120deg);}

.sm a:hover i{transform:rotate3d(45deg);}

i.fa.fa-facebook {
    font-size: 22px;
}


.owl-prev,
.owl-next {font-size:50px !important;color:#666666;position:absolute;outline:none;
  background:red !important;border-radius:50%;height:68px;width:68px;}



.owl-prev {left: -100px;}

.owl-next {right: -100px;}


/*Responsive Design */
@media (max-width: 767px) {


  .news_slider .owl-carousel2 .owl-prev,
  .news_slider .owl-carousel2 .owl-next {display: none !important;}
  .news_slider .row {padding: 0;}
}


