


body{background:rgb(30, 75, 16);padding: 10px;margin:auto;width: 400px;height: 350px;box-sizing:border-box;}

div.signupform{width:280px;height:270px;background:white;margin:auto;font-family: arial-black;padding:20px 20px;border:2px solid orange;
                 
               




}
div.next{background: #eceaea;width: 180px;margin-right: 73px;height: 25px;margin:auto;border: 2px solid #e4d9d9;text-align: center;color: #1010d0;direction: 10px;border:2px solid red;
	}



